
.admin-sea-container {
	padding: 20px;
	height: 100%;
	background-color: #26b3b4;
}

.sea-container {
	width: 50%;
}

.land-container {
	width: 50%;
}

.finish-container {
	height: 40%;
    text-align: -webkit-center;
}

.sea-land-container {
	height: 60%;
	display: flex;
	text-align: center;
	font-size: 40px;
}
