
html {
	font-size: 20px;
}

body {
	background-color: #fff;
}

@keyframes appear-animation {
	from {opacity: 0;}
	to {opacity: 1;}
  }

.admin-wrapper {
	height: 100%;
}

.admin-main-container {
	height: 100%;
	position: relative;
	animation: appear-animation 1s linear;	
}

.games {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 140px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.game {
	position: relative;
	display: flex;
	flex-direction: column;
	background: orange;	
	text-align: center;
}

.game:nth-child(1) {
	background-color: #963f77 
}
.game:nth-child(2) {
	background-color: #db6263;
}
.game:nth-child(3) {
	background-color: #f6cd5b;
}
.game:nth-child(4) {
	background-color: #26b3b4;
}
.game:nth-child(5) {
	background-color: #879152;
}
.game:nth-child(6) {
	background-color: #f09c30;
}
.game:nth-child(7) {
	background-color: #b53c54;
}
.game:nth-child(8) {
	background-color: #c8c157;
}

.game-img {
	flex: 1 1 auto;
	width: 100px;
	margin: 0 auto;
	fill: #fff;
}

.game-name {
	padding-bottom: 20px;
	font-size: 30px;
	color: #000;
}

.user-names {
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 20px;
	height: 100px;
	line-height: 100px;
	background: #1b586b;	
	padding-right: 40px;
	font-size: 30px;	
	color: #fff;	
}

div#user-names::before {
	content: "מחוברים:";
	position: relative;
    top: 2px;
}

.user-name {
	display: inline-block;
	margin-right: 40px;
	animation: appear-animation 1s linear;
	position: relative;
    top: 2px;
}
