
.admin-sea-container {
	padding: 20px;
	height: 100%;
}

.sea-container {
	background-color: #26b3b4;
	width: 50%;
}

.land-container {
	background-color: #F6CD58;
	width: 50%;
}

.finish-container {
	background-color: #db6263;
	height: 40%;
    text-align: -webkit-center;
}

.sea-land-container {
	height: 60%;
	display: flex;
	text-align: center;
	font-size: 40px;
}

.game-img {
	width: 240px;
}