@font-face {
	font-family: "alef-regular";
	src: url('../font/Alef-Regular.woff') format('woff');
}

@font-face {
	font-family: "alef-bold";
	src: url('../font/Alef-Bold.woff') format('woff');
}

@font-face {
	font-family: "gan";
	src: url('../font/ganclm_bold-webfont.woff') format('woff');
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: gan, Alef-Regular, arial, sans-serif;
	font-size: 16px;
}

body {
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;	
	color: black;
	background-color: #000;
}

.hide {
	display: none  !important;
}

.show {
	display: block;
}
