
.mobile-sea-container {
	padding: 20px;
	background-color: #26b3b4;
	height: 100%;
	width: 100%;
	display: flex;
    flex-direction: column;
    font-size: 100px;
    text-align: right;
    align-items: center;
}

.failed-button {
    border: none;
    margin-top: 80px;
    border-radius: 70px;
    font-size: inherit;
    padding-left: 100px;
    padding-right: 100px;
    font-family: inherit;
}
